<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fd9a1a4b-d476-4d1c-acea-8cbed1bf45e7" wadlVersion="http://wadl.dev.java.net/2009/02" name="Swagger" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fd9a1a4b-d476-4d1c-acea-8cbed1bf45e7fileName">Swagger</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://petstore.swagger.io/v2</con:endpoint>
  </con:endpoints>
</con:interface>
